<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatBox</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
  <link href="public/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="mainbox">
    <aside class="contacts">
      <%users.forEach(username => {%>
        <div class="user" id=<%=username%>>
          <span class="state"><i class="far fa-circle"></i></span>
          <p class="name"><%=username%></p>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      <%})%>
      <!-- <div class="user" id="pedro">
        <span class="state"><i class="far fa-circle"></i></span>
        <p class="name">Raphael</p>
        <i class="fas fa-ellipsis-v"></i>
      </div> -->
    </aside>
    <div class="conversation">
      <div class="close-chat">
        <p>Close conversation</p>
      </div>
      <div class="chat" id="chat">
        <% messages.forEach(msg => {%>
          <div class="message">
            <p class="title">
              <%= msg.user %> <span><%= msg.date %></span>
            </p>          
            <p class="text"><%= msg.message %></p>
          </div>
        <%})%>
        <!-- <div class="message">
          <p class="title">
            Fabio Fonseca A. <span>Mayo 17 11:54</span>
          </p>          
          <p class="text">Hola necesito de tu ayuda!</p>
        </div>--> 
      </div>
      <div class="type-zone">
        <p id="user" style="display: none"><%= user %></p>
        <input class="send" id="send" autofocus>          
        <i class="far fa-smile"></i>     
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(function () {
      const socket = io();

      socket.on('chat-conection', (state) => {
        $('#chat').append(`<p class='conected'>${state.conection}</p>`);
        $('.contacts').append(`<div class="user" id=${state.users[0]}>
            <span class="state"><i class="far fa-circle"></i></span>
            <p class="name">${state.users[0]}</p>
            <i class="fas fa-ellipsis-v"></i>
          </div>`);
      });

      $('#send').on('keydown', function(e){
        const keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
          const userLogin = $('#user').text();
          let userMessage = $('#send').val();
          socket.emit('chat-to-server', {message: userMessage, user: userLogin, date: new Date()});
          $('#send').val('');	
        }
      });

      socket.on('chat-from-server', (msg) => {
        $('#chat').append(`<div class='message'>
        <p class='title'> 
          ${msg.user}<span>${msg.date}</span>
        </p>
        <p class='text'>${msg.message}</p>
        </div>`);
      });

      socket.on('user-update', (user)=> {
        const userid = (`#${user.toDelete}`)
        $(userid).remove();
      });

      return false;
    });
  </script>
</body>
</html>